@using Spid.Components.Layout
@inject UserSession UserSession
@inject NavigationManager Nav
@inherits LayoutComponentBase

<RedirectToLogin>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <span class="me-auto">Olá, <strong>@UserSession.UsuarioLogado?.Nome</strong></span>
                <a href="javascript:void(0)" @onclick="Logout">Sair</a>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</RedirectToLogin>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private void Logout()
    {
        UserSession.Logout();
        Nav.NavigateTo("/login");
    }
}